body {
    margin: 8px;
    display: block;
}

p {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

img {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.funParagraph{
    color: green;
}

#mainHeading {
    color: red;
}
